<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daojia.hockday.mapper.ArticleOperateMapper" >
  <resultMap id="BaseResultMap" type="com.daojia.hockday.entity.ArticleOperate" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="article_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="user_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="operate_type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="operate_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List" >
    id, article_id, user_id, operate_type, operate_time
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_hockday_article_operate
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_hockday_article_operate_log
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.daojia.hockday.entity.ArticleOperate" >
    insert into t_hockday_article_operate_log (id, article_id, user_id,
      operate_type, operate_time)
    values (#{id,jdbcType=BIGINT}, #{articleId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{operateType,jdbcType=INTEGER}, #{operateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.daojia.hockday.entity.ArticleOperate" >
    insert into t_hockday_article_operate_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="operateType != null" >
        operate_type,
      </if>
      <if test="operateTime != null" >
        operate_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="operateType != null" >
        #{operateType,jdbcType=INTEGER},
      </if>
      <if test="operateTime != null" >
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.daojia.hockday.entity.ArticleOperate" >
    update t_hockday_article_operate_log
    <set >
      <if test="articleId != null" >
        article_id = #{articleId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="operateType != null" >
        operate_type = #{operateType,jdbcType=INTEGER},
      </if>
      <if test="operateTime != null" >
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.daojia.hockday.entity.ArticleOperate" >
    update t_hockday_article_operate_log
    set article_id = #{articleId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      operate_type = #{operateType,jdbcType=INTEGER},
      operate_time = #{operateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>



    <!-- 查询库中 是否有指定文章下的条件的 记录 按条件查询 -->
    <select id="selectOperationByArticles" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from t_hockday_article_operate_log
        where '1' = '1'
        <if test="userId != null">
            AND user_id = #{userId,jdbcType=VARCHAR}
        </if>
        <if test='articleIdList != null and articleIdList.size() > 0'>
            AND article_id IN
            <foreach collection="articleIdList" item="articleId" separator="," open="(" close=")">
                #{articleId,jdbcType=BIGINT}
            </foreach>
        </if>
        <if test="operationType != null">
            AND operate_type = #{operationType,jdbcType=INTEGER}
        </if>
    </select>

    <!-- 删除库中 是否有指定条件的 记录 按条件查询 -->
    <delete id="deleteOperationByParamMap" parameterType="java.util.Map">
        delete
        from t_hockday_article_operate_log
        where '1' = '1'
        <if test="userId != null">
            AND user_id = #{userId,jdbcType=BIGINT}
        </if>
        <if test="articleId != null">
            AND article_id = #{articleId,jdbcType=BIGINT}
        </if>
        <if test="operationType != null">
            AND operate_type = #{operationType,jdbcType=INTEGER}
        </if>
    </delete>

</mapper>