<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daojia.hockday.mapper.ArticleDetailMapper" >
  <resultMap id="BaseResultMap" type="com.daojia.hockday.entity.ArticleDetail" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="author_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="author_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="author_photo" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="article_content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="view_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="like_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="comment_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List" >
    id, author_id, author_name, author_photo, title, article_content, view_num, like_num, 
    comment_num, create_time
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_hackday_article_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_hackday_article_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.daojia.hockday.entity.ArticleDetail" >
    insert into t_hackday_article_detail (id, author_id, author_name, 
      author_photo, title, article_content, 
      view_num, like_num, comment_num, 
      create_time)
    values (#{id,jdbcType=BIGINT}, #{authorId,jdbcType=BIGINT}, #{authorName,jdbcType=VARCHAR}, 
      #{authorPhoto,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{articleContent,jdbcType=VARCHAR}, 
      #{viewNum,jdbcType=INTEGER}, #{likeNum,jdbcType=INTEGER}, #{commentNum,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="com.daojia.hockday.entity.ArticleDetail" >
    insert into t_hackday_article_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="authorId != null" >
        author_id,
      </if>
      <if test="authorName != null" >
        author_name,
      </if>
      <if test="authorPhoto != null" >
        author_photo,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="articleContent != null" >
        article_content,
      </if>
      <if test="viewNum != null" >
        view_num,
      </if>
      <if test="likeNum != null" >
        like_num,
      </if>
      <if test="commentNum != null" >
        comment_num,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="authorId != null" >
        #{authorId,jdbcType=BIGINT},
      </if>
      <if test="authorName != null" >
        #{authorName,jdbcType=VARCHAR},
      </if>
      <if test="authorPhoto != null" >
        #{authorPhoto,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null" >
        #{articleContent,jdbcType=VARCHAR},
      </if>
      <if test="viewNum != null" >
        #{viewNum,jdbcType=INTEGER},
      </if>
      <if test="likeNum != null" >
        #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="commentNum != null" >
        #{commentNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.daojia.hockday.entity.ArticleDetail" >
    update t_hackday_article_detail
    <set >
      <if test="authorId != null" >
        author_id = #{authorId,jdbcType=BIGINT},
      </if>
      <if test="authorName != null" >
        author_name = #{authorName,jdbcType=VARCHAR},
      </if>
      <if test="authorPhoto != null" >
        author_photo = #{authorPhoto,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null" >
        article_content = #{articleContent,jdbcType=VARCHAR},
      </if>
      <if test="viewNum != null" >
        view_num = #{viewNum,jdbcType=INTEGER},
      </if>
      <if test="likeNum != null" >
        like_num = #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="commentNum != null" >
        comment_num = #{commentNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.daojia.hockday.entity.ArticleDetail" >
    update t_hackday_article_detail
    set author_id = #{authorId,jdbcType=BIGINT},
      author_name = #{authorName,jdbcType=VARCHAR},
      author_photo = #{authorPhoto,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      article_content = #{articleContent,jdbcType=VARCHAR},
      view_num = #{viewNum,jdbcType=INTEGER},
      like_num = #{likeNum,jdbcType=INTEGER},
      comment_num = #{commentNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>



  <!--  查询 文章列表 -->
  <select id="getArticleList" parameterType="com.daojia.hockday.entity.ArticleSearchDto" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM t_hackday_article_detail
    <if test="orderBy != null and orderBy != ''">
      ORDER BY  #{orderBy}
    </if>
  </select>


  <!-- 文章 操作记录 数量更新  -->
  <update id="addOperationArticle" parameterType="java.util.Map" >
    update t_hackday_article_detail
    <if test="operationType == 1">
      <if test="operationValue > 0">
        set like_num = like_num + operationValue
      </if>
    </if>
    where  id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 文章 操作记录 数量更新  -->
  <update id="subOperationArticle" parameterType="java.util.Map" >
    update t_hackday_article_detail
    <if test="operationType == 1">
      <if test="operationValue > 0">
        set like_num = like_num - 1
      </if>
    </if>
    where  id = #{id,jdbcType=BIGINT}
  </update>
</mapper>