<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daojia.hockday.mapper.CommentLinkMapper" >
  <resultMap id="BaseResultMap" type="com.daojia.hockday.entity.CommentLink" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="article_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="acceptor_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="criticism_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="author_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="like_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="criticism_content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List" >
    id, article_id, acceptor_id, criticism_id, author_id, like_num, criticism_content,
    create_time
  </sql>

  <select id="selectByPrimaryKey" resultType="com.daojia.hockday.entity.CommentLink" parameterType="java.lang.Long" >
    select
    *
    from t_hockday_comment_link
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_hockday_comment_link
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.daojia.hockday.entity.CommentLink" >
    insert into t_hockday_comment_link (id, article_id, acceptor_id,
      criticism_id, author_id, like_num,
      criticism_content, create_time)
    values (#{id,jdbcType=BIGINT}, #{articleId,jdbcType=BIGINT}, #{acceptorId,jdbcType=BIGINT},
      #{criticismId,jdbcType=BIGINT}, #{authorId,jdbcType=BIGINT}, #{likeNum,jdbcType=INTEGER},
      #{criticismContent,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.daojia.hockday.entity.CommentLink" >
    insert into t_hockday_comment_link
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="acceptorId != null" >
        acceptor_id,
      </if>
      <if test="criticismId != null" >
        criticism_id,
      </if>
      <if test="authorId != null" >
        author_id,
      </if>
      <if test="likeNum != null" >
        like_num,
      </if>
      <if test="criticismContent != null" >
        criticism_content,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=BIGINT},
      </if>
      <if test="acceptorId != null" >
        #{acceptorId,jdbcType=BIGINT},
      </if>
      <if test="criticismId != null" >
        #{criticismId,jdbcType=BIGINT},
      </if>
      <if test="authorId != null" >
        #{authorId,jdbcType=BIGINT},
      </if>
      <if test="likeNum != null" >
        #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="criticismContent != null" >
        #{criticismContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.daojia.hockday.entity.CommentLink" >
    update t_hockday_comment_link
    <set >
      <if test="articleId != null" >
        article_id = #{articleId,jdbcType=BIGINT},
      </if>
      <if test="acceptorId != null" >
        acceptor_id = #{acceptorId,jdbcType=BIGINT},
      </if>
      <if test="criticismId != null" >
        criticism_id = #{criticismId,jdbcType=BIGINT},
      </if>
      <if test="authorId != null" >
        author_id = #{authorId,jdbcType=BIGINT},
      </if>
      <if test="likeNum != null" >
        like_num = #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="criticismContent != null" >
        criticism_content = #{criticismContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.daojia.hockday.entity.CommentLink" >
    update t_hockday_comment_link
    set article_id = #{articleId,jdbcType=BIGINT},
      acceptor_id = #{acceptorId,jdbcType=BIGINT},
      criticism_id = #{criticismId,jdbcType=BIGINT},
      author_id = #{authorId,jdbcType=BIGINT},
      like_num = #{likeNum,jdbcType=INTEGER},
      criticism_content = #{criticismContent,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getAllComment" resultType="com.daojia.hockday.entity.CommentLink" parameterType="java.lang.Long">
    select *
    from t_hockday_comment_link
    where articleId = #{id,jdbcType=BIGINT}
  </select>
</mapper>